<nav class="navbar is-primary">
    <div class="container">

        <div class="navbar-brand">
            <a href="{{ .Site.Home.Permalink }}" class="navbar-item">
                <img src="{{ "img/logo.png" | relURL }}" alt="BennuGD Logo">
                {{ .Site.Title }}
            </a>
            <span class="navbar-burger burger" data-target="main-navbar">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>


        <div class="navbar-menu is-active">
            <div class="navbar-end has-text-centered-mobile">

                {{- range .Site.Menus.main -}}
                    {{- if .HasChildren -}}
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link" title="{{ .Name }}">
                                {{ .Name }}
                            </a>
                            <div class="navbar-dropdown is-transparent is-boxed">
                                {{- range .Children -}}
                                    <a class="navbar-item is-large" title="{{ .Name }}" href="{{ .URL }}">
                                        {{ .Name }}
                                    </a>
                                {{- end -}}
                            </div>
                        </div>
                    {{- else -}}
                        <a class="navbar-item" title="{{ .Name }}" href="{{ .URL }}">
                            {{ .Name }}
                        </a>
                    {{- end -}}
                {{- end -}}

            </div>
        </div>
    </div>
</nav>
