<nav class="navbar">
    <div class="container">

        <div class="navbar-brand">
            <a class="navbar-item is-active" href="index.html">
                <div style="display:flex">
                    <p>BennuGD</p>
                </div>
            </a>

            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-end has-text-centered-mobile">

                <a href="novedades.html" class="navbar-item">Novedades</a>

                <a href="documentacion.html" class="navbar-item">Documentacion</a>

                <a href="proyectos.html" class="navbar-item">Proyectos</a>

                <div class="navbar-item has-dropdown is-hoverable">

                    <a class="navbar-link">
                    Comunidad
                    </a>

                    <div class="navbar-dropdown">

                        <a class="navbar-item" href="foro.html">
                        Foro Oficial
                        </a>

                        <hr class="navbar-divider">

                        <a class="navbar-item">
                        Comunidad Francesa
                        </a>

                        <div class="navbar-item">
                        Comunidad Italiana
                        </div>

                    </div>

                </div>

                <div class="navbar-item">
                    <p class="control">
                        <a class="button is-primary" href="descargas.html">
                            <span class="icon"><i class="fa fa-download"></i></span>
                            <span>Descargar</span>
                        </a>
                    </p>
                </div>

            </div>
        </div>
    </div>
</nav>
