{{ define "main" }}

    <div class="hero is-large is-primary">
        <div class="hero-body has-text-centered">
            <p class="title is-2">BennuGD</p>
            <p class="subtitle is-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>

            <p>
                <a href="downloads/" class="button is-medium is-primary is-inverted is-outlined">Download</a>
                <a href="docs/" class="button is-medium is-primary is-inverted is-outlined">Documentation</a>
            </p>
        </div>
    </div>

    <div class="section">
        <div class="container">

            <ul>
            {{ range where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
                <li>
                    <a href="{{ .Permalink }}">{{ .Title }}</a>
                </li>
            {{ end}}
            </ul>

        </div>
    </div>

{{ end }}
