{{ define "content" }}

    <div class="columns is-centered">
        <div class="column is-two-thirds-desktop">

            <h1 class="title">
                {{ .Title }}
            </h1>

            <div class="content">
                {{ .Content }}
            </div>

            <ul>
                {{ range .Paginator.Pages }}
                    <li>
                        {{ .Render "li" }}
                    </li>
                {{ end}}
            </ul>

            {{ partial "pagination.html" .Paginator }}

        </div>
    </div>

{{ end }}
