
@import url('https://fonts.googleapis.com/css?family=Rubik|Fira+Mono');

// Define some base colors
// $blue: #243946;
$sand: #CF9E61;
$celeste: #586e70;
$orange: #C64632;


$primary: $sand;
$info: $celeste;
$warning: $orange;

// Customize Bulma default styles
$link: $orange;
$code: darken($sand, 40%);
$navbar-height: 3rem;
$navbar-item-img-max-height: 2rem;
$footer-background-color: desaturate($sand, 10%);
$family-primary: "Rubik", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-code: "Fira Mono", monospace;

@import "./assets/vendor/bulma/bulma";
@import "./assets/vendor/bulma-carousel/dist/css/bulma-carousel";

h1, h2, h3, h4, h5, h6 {
	font-family: $family-code;
}

pre {
	color: $code;
}

::selection {
	background-color: lighten(desaturate($sand, 20%), 20%);
	color: $grey-dark;
}

figure.is-title-image {
	width: 100%;
	height: 30vh;
	overflow: hidden;

	img {
		object-fit: cover;
	}
}

div.news-card {
	margin-bottom: 2rem;
}
