<footer class="footer">
    <div class="container">
        <div class="content has-text-centered has-text-white">

            <img src="{{ "img/isologo.png" | relURL }}" alt="Bennu Game Development Logo" style="max-width: 250px">
            <p>Consider a small donation to help keep the project running!</p>
            <a href="$" target="_blank" class="button is-warning is-outlined">
                <span class="icon"><i class="fab fa-paypal"></i></span>
                <span>Donate</span>
            </a>

            <p class="margin-6" style="margin-top: 4rem;">
                Made with ❤️ |
                Design by <a href="https://molotec.com" target="_blank">Molotec</a> |
                <a href="{{ .Site.Params.repository }}edit/master/content/{{ .File.Path }}">Edit this page on Github</a>
            </p>

        </div>
    </div>
</footer>
