<div id="search-section">

    <div id="search-form" class="field">
        <div class="control">
            <input id="search-input" class="input" type="text" placeholder="Search Docs">
        </div>
    </div>

    <div id="search-results-box" class="box" style="max-height: 40%; overflow: hidden; overflow-y: auto; position: absolute; display: none">
        <ul id="search-results-list"></ul>
        <div id="search-results-noresults" class="notification is-info">
            No results found.
        </div>
    </div>

</div>
