{{ define "main" }}

    <div class="hero is-large is-primary">
        <div class="hero-body has-text-centered">
            <p class="title is-2">BennuGD</p>
            <p class="subtitle is-4">A multi-platform div-like videogame programming language</p>

            <p>
                <a href="{{ "/downloads" | relURL }}" class="button is-medium is-primary is-inverted is-outlined">Download</a>
                <a href="{{ "/docs" | relURL }}" class="button is-medium is-primary is-inverted is-outlined">Documentation</a>
            </p>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2 class="title">Latest News</h2>
            <div class="columns is-multiline is-centered">
                {{ range first 3 (where .Site.RegularPages "Type" "in" .Site.Params.mainSections) }}
                    <div class="column is-one-third">
                        {{ .Render "li" }}
                    </div>
                {{ end}}
            </div>
            <p class="has-text-right">
                <a href="{{ "/blog" | relURL }}" class="button is-info">view all &raquo;</a>
            </p>
        </div>
    </div>

{{ end }}
