<div class="card" style="margin-bottom: 1rem">
    <div class="card-image">
        <a href="{{ .Permalink }}">
            <figure class="image">
                <img src="{{ .Params.Image | default "/img/placeholder.jpg" | relURL }}" alt="{{ .Title }}">
            </figure>
        </a>
    </div>
    <div class="card-content">
        <div class="content">
            <h2 class="title is-5 is-marginless">
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            </h2>
        </div>
    </div>
</div>
